config/PressureNodeLoRaSecrets.h
config/WaterLevelLoRaSecrets.h
config/SoilNodeLoRaSecrets.h
config/MainValveLoRaSecrets.h
config/PumpControlLoRaSecrets.h
/config/PressureNode2LoRaSecrets.h
/.vscode/
/.idea/
